#stockInfoTable {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.leftFloat {
    float:left;
}

.rightFloat {
    float: right;
}

#navigationButtonWrapper {
    width:800px;
    margin-left: auto;
    margin-right: auto;
}