#createTodo {
    width: 80%;
    margin-top: 10px;
}

#footerContainer {
    width: 50%;
}

#email {
    width: 200px;
}
.centre {
    margin-left: auto;
    margin-right: auto;
}

.aTodo {
    width:350px;
    float: left;
    margin: 5px;
}