#createTodo {
    width: 80%;
    margin-top: 10px;
}

#footerContainer {
    width: 50%;
}

#email {
    width: 200px;
}
.centre {
    margin-left: auto;
    margin-right: auto;
}

.container {
    overflow: hidden;
    width: 428px;
}

.aTodo {
    width:350px;

    margin: 5px;
}

.striked {
    text-decoration: line-through;
}

.todoDescription {
    display: none;
}

.todoTitle:hover + .todoDescription {
    display: inline-block;
}