<!DOCTYPE HTML >
<html lang="en">
<head>
    <title>TODO</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <!-- BOOTSTRAP STATIC ASSETS -->
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- END -->

    <!-- APPLICATION JS -->

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Stocks</a>
</nav>
<div class="jumbotron">
    <h1 class="display-3">Oooooppssssss!</h1>
    <p class="lead">Something is wrong!! Either the other service on local host stopped or you are hitting non-existent
        stuff.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/home" role="button">Home</a>
    </p>
</div>
</body>
</html>