<!DOCTYPE html>
<html>

<head>
    <title>Todo</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/lib/underscore-min.js"></script>
    <script type="text/javascript" src="scripts/constants.js"></script>
    <script type="text/javascript" src="scripts/store.js"></script>
    <script type="text/javascript" src="scripts/item.js"></script>
    <script type="text/javascript" src="scripts/card.js"></script>
    <script type="text/javascript" src="scripts/page.js"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>
    <script type="text/javascript" src="scripts/code.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="checkboxes.css"/> -->
    
    <style type="text/css">
        @import url("styles/style.css");
        @import url("styles/responsive.css");

    </style>
</head>

<body>
    <script type="text/script" id="todoRow">
        <tr>
            <td>
                <input data-id="<%= id %>" type="checkbox" class="slideOne markDone" <%= checked %> />
            </td>
            <td class="description <%= statusClass %>">
                <%= description %>
            </td>
            <td>
                <button data-id="<%= id %>" type="button" class="close" data-dismiss="alert">&times;</button>
            </td>
        </tr>
    </script>

    <script type="text/script" id="todoImmutable">
        <tr>
            <td class="description <%= statusClass %>">
                <%= description %>
            </td>
        </tr>
        <tr>
            <td class="taskDate">
                <%= taskDate %> 
            </td>
        </tr>
    </script>
    
    <script type="text/script" id="cardTemplate">
       <div id="<%= id %>" class="card box">
            <h3 class="box-header centre red "><%= title %></h3>
            <table class="box-body cardBody">
            </table>
        </div>
    </script>

    <div>
        <h1 class="header shadow">My Todos</h1>

        <div class="taskInputWrapper">
            <input size=100 type="text" placeholder="Today I am going to ..." class="" id="taskInput" autofocus/>
        </div>
        <button id="showHistory" onclick="window.controller.toggleShowHistory()">History</button>
    </div>
    <div id="cardHolder"></div>
</body>

</html>